.demo {
  height: 600px;
  width: 600px;
  position: relative;

  --scroll-offset: 0;
  perspective: 1600px;

  margin: auto;

  cursor: pointer;
}

.demo img {
  position: absolute;
  top: 0;
  left: 0;
  filter: drop-shadow(0px 10px 4px #bfbfbfbf);
  transition: all 0.8s;
}

.container {
  position: relative;

  overflow: hidden;
  height: 600px;
  right: 0px;

  transition: all 1s;
  transform-origin: top center;

  mask-image: linear-gradient(
    0deg,
    transparent 0,
    black,
    black,
    transparent 100%
  );
}

.scrollContainer {
  width: 600px;
  top: 0;
  right: 200px;

  transform: translateY(var(--scroll-offset));

  animation: scroll 60s linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.scrollContainer.js-paused {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1000px);
  }
}
